.videoGallery {
  background: url("../../assets/img/gallery.png") no-repeat center/cover;
  margin-top: 30px;
  padding: 60px 80px;
}

.videoGallery h2 {
  font-size: clamp(22px, 4vw, 32px);
  margin-bottom: 20px;
}

.videoGallery .title {
  margin-top: 30px;
}

.videoGallery p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #334155;
}

.slider {
  padding-top: 30px;
}

.videoGallery .textblock {
  font-size: 16px;
  font-weight: 500;
  color: #334155;
  margin: 0;
}

.videoGallery .icon-wrapper {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.slider .slick-slide {
  padding: 0 10px;
}

.videoGallery .icon-wrapper {
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  border-radius: 12px;
}

@media (max-width: 1024px) {
  .videoGallery {
    padding: 40px 30px;
  }

  .slider .slick-slide img {
    height: 250px !important;
  }

  .videoGallery .textblock {
    font-size: 14px;
  }

  .videoGallery .ant-col {
    flex: 1 1 calc(50% - 20px);
    margin: 10px 0;
  }

  .advantage-item {
    gap: 22px;
  }
}

@media (max-width: 600px) {
  .videoGallery {
    padding: 30px 15px;
  }

  .slider .slick-slide img {
    height: 180px !important;
  }

  .videoGallery .textblock {
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
  }

  .videoGallery .ant-col {
    flex: 1 1 calc(50% - 10px);
    margin: 5px 0;
  }

  .advantage-item {
    gap: 12px;
  }
}