.custom-schedule-table .ant-table-thead>tr>th {
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.custom-schedule-table .ant-table-tbody>tr>td {
  font-weight: 500;
  padding: 16px !important;
}

.ant-table-wrapper .ant-table-container {
  border-radius: 20px !important;
}

.custom-schedule-table .ant-table-cell:first-child {
  background-color: #fafafa;
  text-align: center;
  font-weight: bold;
}

.custom-schedule-table .day-column-cell {
  color: black !important;
  text-align: center !important;
  vertical-align: middle !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  text-transform: uppercase;
  border-bottom: 2px solid #ffffff !important;
}

.custom-schedule-table .ant-table-cell {
  padding: 12px 8px !important;
}

.custom-schedule-table {
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #f0f0f0;
}

.custom-schedule-table .ant-table-thead>tr>th {
  background-color: #F6B31F !important;
  color: white !important;
  border-bottom: none !important;
}

@media (max-width: 768px) {
  .schedule-section {
    padding: 20px;
  }

  .custom-schedule-table {
    overflow-x: auto;
  }
}