.our-team {
  position: relative;
}

.our-team .yellow {
  position: absolute;
  top: 30px;
  left: 250px;
}

.our-team .green {
  position: absolute;
  top: 220px;
  right: 300px;
}

.slider .slick-slide {
  padding: 0 12px;
}

.slider .slick-list {
  margin: 0 -12px;
}

.card {
  width: 260px;
  border-radius: 16;
  overflow: hidden;
  margin: 0 12px;
}

.card-img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.team-name {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #8081bd;
}

.team-role {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #334155;
}
