.our-team {
  position: relative;
}

.our-team .yellow {
  position: absolute;
  top: 30px;
  left: 250px;
}

.our-team .green {
  position: absolute;
  top: 220px;
  right: 300px;
}

.slider .slick-slide {
  padding: 0 12px;
}

.slider .slick-list {
  margin: 0 -12px;
}

.card {
  width: 260px;
  border-radius: 16;
  overflow: hidden;
  margin: 0 12px;
  border: none;
}

.card-img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.team-name {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #8081bd;
}

.team-role {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #334155;
}

.arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #8081bd;
  color: white;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  transition: 0.3s ease;
}

.arrow.next {
  right: -20px;
}

.arrow.prev {
  left: -20px;
}

.ant-card .ant-card-meta,
.ant-card .ant-card-meta-detail,
.ant-card .ant-card-meta-avatar,
.ant-card .ant-card-meta-title,
.ant-card .ant-card-meta-description {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}
