.question {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 485px;
  background: url("../../assets/img/question.png") no-repeat center/cover;
  padding: 0px;
  margin-top: 30px;
}

.question .form{
  max-width: 600px;
  padding-left: 40px;
}

.question .form h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin: 0px;
}

.question .form p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.question .form .input {
  border-radius: 50px;
  position: relative;
}

.question .form .input::placeholder,
.question .form .input input::placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 12px;
  padding-left: 5px;
  color: #334155 !important;
}

.question .form .radio {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 12px;
  color: #ffffff;
  padding: 10px;
}

.question .form .radio.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #F6B31F !important;
}

.question .form .radio .ant-radio-checked .ant-radio-inner {
  border-color: #F6B31F!important;
}

.question .form .radio .ant-radio-inner {
  border-width: 5px;
}

.question .form .button {
  width: 308px;
  height: 40px;
  border-radius: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #334155;
  background: #F6B31F;
}

.question .form .button:hover{
    background: #d49713;
}