#root {
  max-width: 1420px;
  margin: 0 auto;
}

.primary-orange-color {
  color: #EA5D4A;
}

.primary-orange-bg{
  background: #EA5D4A !important;
}

.primary-orange-light-bg {
  background: #F6B31F !important;
}

.primary-pink-light-bg {
  background: #F3ACC8 !important;
}

.primary-blue-light-bg {
  background: #0E95D3 !important;
}

.primary-violet-light-bg{
    background: #8081BD !important;
}

.primary-grey-color{
  color: #334155;
}