.textblock {
  position: absolute;
  left: 50px;
}

.textblock h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 117px;
  color: #334155;
  margin: 0px;
}

.textblock h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #334155;
  margin: 0px;
}

.hero .form {
  max-width: 384px;
  background: #8081bd;
  padding: 27px 38px;
  border-radius: 16px;
}

.hero .form h2 {
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.hero .form p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.hero .form .input {
  border-radius: 50px;
  position: relative;
}

.hero .form .input::placeholder,
.hero .form .input input::placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 12px;
  padding-left: 5px;
  color: #334155 !important;
}

.required-star {
  position: absolute;
  right: 15px;
  top: 55%;
  transform: translateY(-50%);
}

.hero .form .radio {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 12px;
  color: #ffffff;
  padding: 10px;
}

.hero .form .radio.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #ea5d4a !important;
}

.hero .form .radio .ant-radio-checked .ant-radio-inner {
  border-color: #ea5d4a !important;
}
.hero .form .radio .ant-radio-inner {
  border-width: 5px;
}

.hero .form .button {
  width: 308px;
  height: 40px;
  border-radius: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
